@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button, select {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  min-height: 100svh;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

body {
  font-family: "Montserrat", serif;
  font-weight: 400;
  background: #F8F7FC;
  color: #000;
}

button,
input,
select,
textarea {
  font-family: "Montserrat", serif;
  font-weight: 400;
  color: #000;
}

.container {
  max-width: 1760px;
  margin: 0 auto;
}
@media screen and (max-width: 1920px) {
  .container {
    max-width: calc(100% - 160px);
  }
}

.home {
  padding: 100px 0 379px;
}
.home h2 {
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 340px;
}
.home .box {
  height: 239px;
  border: 3px solid #4C4C4C;
  border-radius: 60px;
  position: relative;
  z-index: 1;
}
.home .box img {
  position: absolute;
  top: 37px;
  left: 92px;
}
.home .box-wrap {
  width: 600px;
  border-radius: 70px;
  border: 5px solid #4C4C4C;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 41px;
}
.home li {
  position: absolute;
  display: none;
  gap: 15px;
}
.home li.show {
  display: flex;
}
.home li.show svg {
  display: block;
}
.home li.show circle {
  opacity: 0;
  animation: growCircle 0.5s 0.68s ease-in-out forwards;
}
.home li.show path {
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  animation: drawLine 1.5s 0s ease-in-out forwards;
}
@keyframes growCircle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes showImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home li.show img {
  animation: showImg 0.3s 0.8s ease-in-out forwards;
}
.home li.show:hover p {
  opacity: 1;
}
.home li svg {
  display: none;
}
.home li img {
  width: 86.45px;
  min-width: 86.45px;
  height: 86.45px;
  flex-shrink: 0;
  opacity: 0;
}
.home li p {
  white-space: nowrap;
  font-size: 18px;
}
.home li:nth-child(1) {
  top: 0;
  right: calc(100% - 78.5px);
  transform: translateY(-100%);
  padding-bottom: 64px;
  flex-direction: row-reverse;
  align-items: center;
}
.home li:nth-child(1) p {
  text-align: right;
}
.home li:nth-child(1) svg {
  position: absolute;
  bottom: 0;
  right: -19px;
}
.home li:nth-child(2) {
  top: 0;
  right: calc(100% - 251px);
  transform: translateY(-100%);
  padding-bottom: 64px;
  flex-direction: row-reverse;
  align-items: center;
}
.home li:nth-child(2) p {
  text-align: right;
}
.home li:nth-child(2) svg {
  position: absolute;
  bottom: 0;
  right: 38px;
}
.home li:nth-child(3) {
  top: 0;
  left: 345px;
  transform: translateY(-100%);
  padding-bottom: 64px;
  flex-direction: row;
  align-items: center;
}
.home li:nth-child(3) svg {
  position: absolute;
  bottom: 0;
  left: 38px;
}
.home li:nth-child(4) {
  top: 0;
  left: 508px;
  transform: translateY(-100%);
  padding-bottom: 63px;
  flex-direction: row;
  align-items: center;
}
.home li:nth-child(4) svg {
  position: absolute;
  bottom: 0;
  left: -10px;
}
.home li:nth-child(5) {
  top: 65px;
  left: 100%;
  transform: translateY(-100%);
  padding-left: 63px;
  flex-direction: row;
  align-items: center;
}
.home li:nth-child(5) svg {
  position: absolute;
  bottom: -13px;
  left: 4px;
}
.home li:nth-child(6) {
  top: 207px;
  left: 100%;
  transform: translateY(-100%);
  padding-left: 95px;
  flex-direction: row;
  align-items: center;
}
.home li:nth-child(6) svg {
  position: absolute;
  bottom: 33px;
  left: 4px;
}
.home li:nth-child(7) {
  bottom: 62px;
  left: 100%;
  transform: translateY(100%);
  padding-left: 63px;
  flex-direction: row;
  align-items: center;
}
.home li:nth-child(7) svg {
  position: absolute;
  top: -13px;
  left: 4px;
}
.home li:nth-child(8) {
  bottom: -4px;
  left: calc(100% - 82px);
  transform: translateY(100%);
  padding-top: 64px;
  flex-direction: row;
  align-items: center;
}
.home li:nth-child(8) svg {
  position: absolute;
  top: 0;
  left: -11px;
}
.home li:nth-child(9) {
  bottom: -4px;
  left: calc(100% - 250px);
  transform: translateY(100%);
  padding-top: 64px;
  flex-direction: row;
  align-items: center;
}
.home li:nth-child(9) svg {
  position: absolute;
  top: 0;
  left: 40px;
}
.home li:nth-child(10) {
  bottom: -4px;
  right: calc(100% - 248px);
  transform: translateY(100%);
  padding-top: 64px;
  flex-direction: row-reverse;
  align-items: center;
}
.home li:nth-child(10) p {
  text-align: right;
}
.home li:nth-child(10) svg {
  position: absolute;
  top: 0;
  right: 40px;
}
.home li:nth-child(11) {
  bottom: -4px;
  right: calc(100% - 81px);
  transform: translateY(100%);
  padding-top: 65px;
  flex-direction: row-reverse;
  align-items: center;
}
.home li:nth-child(11) p {
  text-align: right;
}
.home li:nth-child(11) img {
  transform: translateY(-4px);
}
.home li:nth-child(11) svg {
  position: absolute;
  top: 0;
  right: -14px;
}
.home li:nth-child(12) {
  bottom: 60px;
  right: calc(100% + 4px);
  transform: translateY(100%);
  padding-right: 45px;
  flex-direction: row-reverse;
  align-items: center;
}
.home li:nth-child(12) p {
  text-align: right;
}
.home li:nth-child(12) svg {
  position: absolute;
  top: -15px;
  right: 0;
}
.home li:nth-child(13) {
  bottom: 202px;
  right: calc(100% + 4px);
  transform: translateY(100%);
  padding-right: 78px;
  flex-direction: row-reverse;
  align-items: center;
}
.home li:nth-child(13) p {
  text-align: right;
}
.home li:nth-child(13) svg {
  position: absolute;
  top: 38px;
  right: 0;
}
.home li:nth-child(14) {
  top: -22px;
  right: calc(100% + 4px);
  padding-right: 50px;
  flex-direction: row-reverse;
  align-items: center;
}
.home li:nth-child(14) p {
  text-align: right;
}
.home li:nth-child(14) svg {
  position: absolute;
  bottom: -10px;
  right: 0;
}/*# sourceMappingURL=style.css.map */